/* タブレット向けレイアウト 1000px以下に適用*/

@media all and (max-width: 1000px) {

    .header-right a {
        padding: 0 8px;
    }

    .header-logo {
        height: 60px;
        margin-top: 10px;
    }






}



/* モバイル向けレイアウト 670px以下に適用*/

@media all and (max-width: 670px) {

    .header-right {
        display: none;
    }

    #hamb-menu {
        display: block;
    }

    input,
    textarea {
        width: 100%;
    }

    .footer-logo {
        height: 70px;
        margin: 30px 0 10px 0;

    }


    .footer-left {
        float: none;
        text-align: center;
    }

    .footer-right {
        margin: 20px 0 40px 0;
        float: none;
        text-align: center;
    }

    .copyright {
        padding-top: 0;
    }



}
