/* タブレット向けレイアウト 1000px以下に適用*/
@media all and (max-width: 1000px) {

    .header-right a {
        padding: 0 8px;
    }

    .header-logo{
        height: 60px;
        margin-top: 10px;
    }





}



/* モバイル向けレイアウト 670px以下に適用*/

@media all and (max-width: 670px) {

    .header-right {
        display: none;
    }

    .menu {
        display: block;
    }

    input,
    textarea {
        width: 100%;
    }

    .footer-left{
        float: none;
        text-align: center;
    }

    .footer-right{
        margin: 30px;
        float: none;
        text-align: center;

    }



}
