/* タブレット向けレイアウト 1024px以下に適用*/

@media all and (max-width: 1024px) {

    .header-right a {
        padding: 0 8px;
    }

    .obj-fit-img {
        height: 850px;
        object-fit: cover;
        object-position: 45% 0;
        font-family: 'object-fit: cover; object-position: 45% 0;'
    }

    .swiper-slide-content {
        font-size: 20px;
    }





}


/* モバイル向けレイアウト 670px以下に適用*/

@media all and (max-width: 670px) {

    .header-right {
        display: none;
    }

    #hamb-menu {
        display: block;
    }

    input,
    textarea {
        width: 100%;
    }

    .footer-logo {
        height: 70px;
        margin: 30px 0 10px 0;

    }


    .footer-left {
        float: none;
        text-align: center;
    }

    .footer-right {
        margin: 20px 0 40px 0;
        float: none;
        text-align: center;
    }

    .copyright {
        padding-top: 0;
    }

    .obj-fit-img {
        height: 650px;
    }

    .swiper-slide-content {
        font-size: 15px;
    }

    .map-wrapper {
        height: 500px;
    }







}
