.sliders {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

.sliders-items {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sliders-items .sliders-items::after {
    display: block;
    content: '';
    clear: both;
}

.sliders-items .sliders-item {
    float: left;
    text-align: center;
}

.sliders-items .sliders-item img {
    width: 100%;
    height: auto;
    box-shadow: none;
}

.sliders-next {
    position: absolute;
    top: 50%;
    right: .8em;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 220x;
    border-right: 0.15em solid rgb(255, 255, 255);
    border-bottom: 0.15em solid rgb(255, 255, 255);
    transform: translateY(-50%) rotate(-45deg);
    background: transparent;
    opacity: 0.5;
}

.sliders-prev {
    position: absolute;
    top: 50%;
    left: .8em;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 20px;
    border-right: 0.15em solid rgb(255, 255, 255);
    border-bottom: 0.15em solid rgb(255, 255, 255);
    transform: translateY(-50%) rotate(135deg);
    background: transparent;
    opacity: 0.5;
}

.sliders-next:hover,.sliders-prev:hover{
    opacity:0.8;
}
