/*//////////////////////////////////////////////////////////////////////
     common
//////////////////////////////////////////////////////////////////////*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: auto;
}

li {
    list-style: none;
}

.contents {
    text-align: center;
}

.logo-left {
    float: left;
    cursor: pointer;
    display: block;
}

.active {
    display: block;
}

/*//////////////////////////////////////////////////////////////////////
     header
//////////////////////////////////////////////////////////////////////*/

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: rgba(255, 255, 255, 0.8);
}

.header-logo {
    height: 70px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 30px;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 80px;
    font-size: 14px;
    padding: 0 25px;
    color: #000000;
    display: block;
    float: left;
    transition: all 1.0s;
    letter-spacing: 3px;
}

.header-right a:hover {
    background-color: rgba(0, 167, 255, 0.5);
}

#hamb-menu {
    display: none;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    cursor: pointer;
}

#hamb-menu:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

#hamb-wrapper {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
}

#hamb-contents {
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(150, 150, 150);
    padding-bottom: 30px;
}

#hamb-contents a {
    font-size: 18px;
    letter-spacing: 3px;
    margin: 40px 60px;
    color: #000000;
    display: block;
}


/*//////////////////////////////////////////////////////////////////////
     slide-wrapper
//////////////////////////////////////////////////////////////////////*/

.swiper-slide img {
    width: 100%;
}

.swiper-slide-content {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 5s ease 1s;
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 30px;
}


/*//////////////////////////////////////////////////////////////////////
     パンくず
//////////////////////////////////////////////////////////////////////*/

.breadcrumbs {
    padding: 0;
    margin: 10px 0 45px 0;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 12px;
}

.breadcrumbs a {
    color: rgb(150, 150, 150)
}

.breadcrumbs li:last-child a {
    color: #000000;
    border-bottom: 1px solid #000;
}

.breadcrumbs li::after {
    content: '>';
    display: inline-block;
    padding: 0 8px;
    /*左右に余白*/
    color: rgb(150, 150, 150);
}

.breadcrumbs li:last-child::after {
    display: none;
}



/*//////////////////////////////////////////////////////////////////////
     top-wrapper
//////////////////////////////////////////////////////////////////////*/

/*
.top-img {
    background: url(../img/43365.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    height: 1000px;
}
*/


/*
.slides {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.white-back {
    width: 100%;
}


.slide {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
}


.show {
    display: block;
}

.slide-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-right: 0.2em solid #FFFFFF;
    border-bottom: 0.2em solid #FFFFFF;
    background: transparent;
    opacity: 0.5;

}

.slide-btn:hover {
    opacity: 0.8;
}

#prev-btn {

    left: 2em;
    transform: translateY(-50%) rotate(135deg);
}

#next-btn {
    right: 2em;
    transform: translateY(-50%) rotate(-45deg);
}


*/




/*
.slide {
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
    margin: 0 auto;
    height: 1080px;
}

.slide1 {
    background-image: url(../img/img01.jpg);
}

.slide2 {
    background-image: url(../img/img02.jpg);
}

.slide3 {
    background-image: url(../img/img03.jpg);
}

*/


/*//////////////////////////////////////////////////////////////////////
     middle-wrapper
//////////////////////////////////////////////////////////////////////*/


h3 {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-weight: normal;
    text-align: center;
    letter-spacing: 3px;

}

/*
.info-srcollbar {
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    padding: 10px 10px 10px 30px;
    border-left: 1px solid rgb(150, 150, 150);
    border-right: 1px solid rgb(150, 150, 150);
    border-top: none;
    border-bottom: none;
    display: block;

}
*/

.info-iframe iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.info-iframe {
    width: 100%;
    height: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 10px 10px 30px;
    margin: 20px auto;
    max-width: 1000px;
    border-left: 1px solid rgb(150, 150, 150);
    border-right: 1px solid rgb(150, 150, 150);
}

.contact p {
    margin: 40px 0 0 0;
    font-size: 14px;
    letter-spacing: 3px;
}

input {
    height: 45px;
}

input,
textarea {
    width: 600px;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dee7ec;
}

textarea {
    height: 200px;
}

.contact-submit {
    margin-top: 7px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 5px #1a7940;
    border-radius: 4px;
    border: none;
    letter-spacing: 3px;
    color: #fff;
}

.contact-submit:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}


.map-wrapper {
    height: 700px;
}

.map iframe {
    padding: 10px 0;
    margin: 0;
}

.work {
    float: left;
    width: 25%;
    cursor: pointer;
    margin: 30px auto;
}

.work-icon{
    position: relative;
}

.work-icon:hover {
    opacity: 0.8;
}

.back-img {
    height: 250px;
}

.work-img {
    position: absolute;
    height: 90px;
    margin: 45px 80px;
    z-index: 1;
}

.work-title {
    position: absolute;
    top: 140px;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

.work-text {
    width: 70%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color:dimgray;
    height: 100px;
}


/*//////////////////////////////////////////////////////////////////////
     bottom-wrapper
//////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////
     footer
//////////////////////////////////////////////////////////////////////*/


footer {
    border-top: 1px solid rgb(150, 150, 150);
}


.footer-logo {
    height: 90px;
    margin-top: 35px;
    margin-left: 20px;
}

.footer-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}

.footer-right a {
    font-size: 14px;
    color: #000000;
    display: block;
    padding: 3px;
    transition: all 1.0s;
    letter-spacing: 3px;
}

.footer-right a:hover {
    background-color: rgba(0, 167, 255, 0.5);
}


.copyright {
    text-align: center;
    color: dimgray;
    padding-top: 150px;
}
