/*common*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: auto;
}

li {
    list-style: none;
}



.contents {
    height: 500px;
    text-align: center;
}

.logo-left {
    float: left;
    cursor: pointer;
    display: block;
}

.active {
    display: block;
}

/*header*/

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: rgba(255, 255, 255, 0.8);
}

.header-logo {
    height: 70px;
    padding: 3px;
    margin-top: 5px;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 80px;
    font-size: 14px;
    padding: 0 25px;
    color: #000000;
    display: block;
    float: left;
    transition: all 1.0s;
    letter-spacing: 3px;
}

.header-right a:hover {
    background-color: rgba(0, 167, 255, 0.5);
}

#hamb-menu {
    display: none;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    cursor: pointer;
}

#hamb-menu:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

#hamb-wrapper {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
}

#hamb-contents {
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(150, 150, 150);
    padding-bottom: 30px;
}

#hamb-contents a {
    font-size: 18px;
    letter-spacing: 3px;
    margin: 40px 60px;
    color: #000000;
    display: block;
}










/*top-wrapper*/

/*
.top-img {
    background: url(../img/43365.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    height: 1000px;
}
*/

.slide {
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
    margin: 0 auto;
    height: 1080px;
}

.slide1 {
    background-image: url(../img/img01.jpg);
}

.slide2 {
    background-image: url(../img/img02.jpg);
}

.slide3 {
    background-image: url(../img/img03.jpg);
}

.show {
    display: block;
}

/*middle-wrapper*/

h3 {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-weight: normal;
    text-align: center;
    letter-spacing: 3px;
}







.contact p {
    margin: 25px 0 0 0;
    font-size: 14px;
    letter-spacing: 3px;
}

input {
    height: 45px
}

input,
textarea {
    width: 500px;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #dee7ec;
}

textarea {
    height: 200px;
}

.contact-submit {
    margin-top: 7px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 5px #1a7940;
    border-radius: 4px;
    border: none;
    letter-spacing: 3px;
    color: #fff;
}

.contact-submit:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}





/*bottom-wrapper*/



/*footer*/

footer {
    border-top: 1px solid rgb(150, 150, 150);
}


.footer-logo {
    height: 90px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}

.footer-right a {
    font-size: 14px;
    color: #000000;
    display: block;
    padding: 3px;
    transition: all 1.0s;
    letter-spacing: 3px;
}

.footer-right a:hover {
    background-color: rgba(0, 167, 255, 0.5);
}


.copyright {
    text-align: center;
    color: dimgray;
    padding-top: 150px;
}
